div {
    margin: 5px;
}

.admin {
    color: red;
}

.red-font {
    color: red;
}

.area {
    border: black solid 1px;
    background-color: #eeeeee;
    margin-bottom: 20px;
}

.ms-input {
    width: 60px;
}
.ms-input-middle {
    width: 40px;
}

.ms-input-small {
    width: 38px;
}

.string-input {
    width: 100px;
}

.string-input-large {
    width: 130px;
}

#large-pic-div {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 100;
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background-color: rgb(0, 0, 0); opacity: 0.3;
}